﻿@page
@model DemoRazorPage.Pages.CarView.CarIndexModel
@{
}

<a class="btn btn-primary" asp-page="Create"><i class="fa fa-plus"> </i> Create</a>
<br />
<br />

<form method="post">
<div class="row g-3 align-items-center">
    
    <div class="col-4">
        <input asp-for="Car.Name" class="form-control" >
    </div>
    <div class="col-auto">  
        <span  class="form-text">
            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Search</button>
        </span>
    </div>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Car Name</th>
            <th scope="col">Manufacture</th>
            <th scope="col">Price</th>
            <th scope="col">Released Year</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        
        </tr>
    </thead>
    <tbody>
         



        @foreach(var obj in Model.cars)
        {
            <tr>
                <td>@obj.CarId</td>
                <td>@obj.Name</td>
                <td>@obj.Manufacture</td>
                <td>@obj.Price</td>
                <td>@obj.releaseYear</td>
                <td><a type="button" class="btn btn-danger" asp-page="Delete" asp-route-id="@obj.CarId"><i class="fa fa-trash"></i> Delete</a></td>
                <td><a type="button" class="btn btn-primary" asp-page="Update" asp-route-id="@obj.CarId"><i class="fa fa-edit"></i> Update</a></td>
                <td><a type="button" class="btn btn-warning" asp-page="AddToCart" asp-route-id="@obj.CarId,6"><i class="fa fa-edit"></i> Add To Cart</a></td>


        </tr>
        }
         
      
    </tbody>
</table>
   